<div class="maintenance">
  <div class="maintenance__header">
    <div class="maintenance__header__logo">
      <img src="../../../assets/static/images/logo.png"
           width="50" height="50" class="d-inline-block align-top"
           alt="logo" loading="lazy">
      {{appTitle}}
    </div>
  </div>

  <div class="d-flex align-items-center maintenance__body">
    <div class="maintenance__body__message">
      <h1><small>Désolé nous somme actuellement en</small><br><b>maintenance</b>.</h1>
    </div>
  </div>
</div>
