<div class="tuto">
    <div class="container">
      <div class="p-5 mb-4 bg-light" id="start">
        <div class="container">
          <h1 class="display-3">{{'core.tuto.prin_title' | translate}}</h1>
        </div>
      </div>

      <div class="row pe-lg-5 ps-lg-5">
        <div class="mb-5">
          <div class="alert alert-info tuto__alert" role="alert">
            <fa-icon [icon]="faInfoCircle"></fa-icon> &nbsp;&nbsp;
            <span [innerHTML]="'core.tuto.alert_country' | translate"></span>
          </div>
        </div>

        <div class="col-md-7">
          <div class="mb-5">
            <h4 class="display-5">{{'core.tuto.step_install_title' | translate}}</h4>
            <p class="lead" [innerHTML]="'core.tuto.step_install_text' | translate"></p>
          </div>
          <div class="mb-5">
            <h4 class="display-5">{{'core.tuto.step_report_title' | translate}}</h4>
            <p class="lead" [innerHTML]="'core.tuto.step_report_text' | translate"></p>
          </div>
          <div class="mb-5">
            <h4 class="display-5">{{'core.tuto.step_confirm_title' | translate}}</h4>
            <p class="lead" [innerHTML]="'core.tuto.step_confirm_text' | translate"></p>
          </div>
          <div class="mb-5">
            <h4 class="display-5">{{'core.tuto.step_alert_title' | translate}}</h4>
            <p class="lead" [innerHTML]="'core.tuto.step_alert_text' | translate"></p>
          </div>
          <div class="mb-5">
            <h4 class="display-5">{{'core.tuto.web_map_title' | translate}}</h4>
            <p class="lead" [innerHTML]="'core.tuto.web_map_text' | translate"></p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="./assets/static/images/njuka/screenshots/03-liste-elec-eau.png"
               class="rounded shadow-sm w-75 mx-auto d-block mb-4"
               [alt]="'core.home.app.alt_screenshot_list' | translate">
          <img src="./assets/static/images/njuka/screenshots/05-detail.png"
               class="rounded shadow-sm w-75 mx-auto d-block"
               [alt]="'core.home.app.alt_screenshot_detail' | translate">
        </div>
      </div>
    </div>
</div>
