<div class="marker-details" *ngIf="data.report">
    <div class="marker-details__header">
      <h6>{{'main.marker-details.title' | translate}}</h6>
    </div>
    <div class="marker-details__body">
        <ul class="list-unstyled">
          <li>
            <b>{{'main.marker-details.service' | translate}}</b>
            <span *ngIf="serviceType === 'water'">{{'main.marker-details.service_water' | translate}}</span>
            <span *ngIf="serviceType !== 'water'">{{'main.marker-details.service_electricity' | translate}}</span>
          </li>
          <li>
              <b>{{'main.marker-details.report_that' | translate}}</b>
              {{ data.report.reportedAt.toDate() | timestamp }}
          </li>
          <li *ngIf="data.report.resolvedAt">
            <b>{{'main.marker-details.recovred_that' | translate}}</b>
            {{ data.report.resolvedAt.toDate() | timestamp }}
          </li>
          <li *ngIf="data.report.description">
            <b>{{'main.marker-details.description' | translate}}</b>
            {{data.report.description}}
          </li>
          <li *ngIf="data.report.confirmationCount">
            <b>{{'main.marker-details.confirmations' | translate}}</b>
            {{data.report.confirmationCount}}
          </li>
          <li *ngIf="data.report.authorUsername">
            <b>{{'main.marker-details.author' | translate}}</b>
            &#64;{{data.report.authorUsername}}
          </li>
          <li class="mt-2">
            <h6>{{'main.marker-details.info_locations' | translate}}</h6>
            <ul>
              <li>
                <b>{{'main.marker-details.country' | translate}}</b>
                {{data.report.location.country}}
              </li>
              <li>
                <b>{{'main.marker-details.region' | translate}}</b>
                {{data.report.location.region}}
              </li>
              <li>
                <b>{{'main.marker-details.city' | translate}}</b>
                {{data.report.location.city}}
              </li>
              <li>
                <b>{{'main.marker-details.neighborhood' | translate}}</b>
                {{data.report.location.neighborhood}}
              </li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="marker-details__footer">
      <small><b>{{'main.marker-details.lng' | translate}}</b> {{ data.report?.position.lng }}</small>&nbsp;&nbsp;
      <small><b>{{'main.marker-details.lat' | translate}}</b> {{ data.report?.position.lat }}</small>
    </div>
</div>
