<!--
VIEW IN FULL SCREEN MODE
FULL SCREEN MODE: http://salehriaz.com/404Page/404.html

DRIBBBLE: https://dribbble.com/shots/4330167-404-Page-Lost-In-Space
-->

<body class="bg-purple">

<div class="stars">
  <div class="central-body">
    <div class="messages">
      <h1 class="display-3">{{'main.map-not-found.text_1' | translate}}</h1>
      <h3>{{'main.map-not-found.text_2' | translate}}</h3>
      <h5>{{'main.map-not-found.text_3' | translate}}</h5>
    </div>
    <a href="http://salehriaz.com/404Page/404.html" class="btn-go-home" target="_blank">
      {{'main.map-not-found.btn_home' | translate}}
    </a>
  </div>
  <div class="objects">
    <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
    <div class="earth-moon">
      <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
      <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
    </div>
    <div class="box_astronaut">
      <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
    </div>
  </div>
  <div class="glowing_stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>

  </div>

</div>

</body>
