<div *ngIf="!isMobile && showHistory && moduleConfig">
  <div class="report">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs report__nav">
      <li [ngbNavItem]="1" class="report__nav__item">
        <a ngbNavLink>{{'main.map-history-marker.menu_history' | translate}}</a>
        <ng-template ngbNavContent>
          <div class="list-group report__nav__item__content">
            <a class="list-group-item list-group-item-action report__nav__item__content__elt"
               (click)="moveToMarker(report)" *ngFor="let report of reportsMonthly"
               [class.report__nav__item__content__elt-close]="isClosed(report)"
            >
              <div class="d-flex w-100 justify-content-between report__nav__item__content__elt__header">
                <div>
                  <h5 class="report__nav__item__content__elt__header__title">
                    {{report.location.city}}
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                    {{report.location.neighborhood}}
                  </h5>
                </div>
                <div>
                  <fa-icon [icon]="faCircle" [class.text-success]="isClosed(report)"
                           [class.text-danger]="!isClosed(report)"></fa-icon>
                  <br>
                  <fa-icon *ngIf="isOwner(report)"
                           [icon]="faUser"
                           [title]="'main.map-history-marker.icon_user_title' | translate"></fa-icon>
                </div>
              </div>

              <div class="w-100  report__nav__item__content__elt__body">
                {{'main.map-history-marker.last_modif' | translate}} {{report._updatedAt.toDate() | timestamp}}<br>
                {{ reportDurationToString(report) }}
              </div>
            </a>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>{{'main.map-history-marker.title_stats' | translate}}</a>
        <ng-template ngbNavContent>
          <app-map-menu-stats
            [nbreReportsYear]="reports.length"
            [nbreReportsMonthly]="reportsMonthly.length"
            [nbreReportsNotClosed]="reportsNotClosed.length"
            [nbreReportsDay]="reportsDay.length"
            [nbreReportsDayNotClosed]="reportsDayNotClosed.length"
          ></app-map-menu-stats>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

  <div class="text-center stats">
    <ul class="list-inline" [class.visible]="reportsDay.length > 0">
      <li class="list-inline-item">
        <small>{{'main.map-history-marker.for_day' | translate}} {{reportsDay.length}}</small>
      </li>
      <li class="text-danger list-inline-item">
        <small>
          {{'main.map-history-marker.current_cut' | translate}}
          {{reportsDayNotClosed.length}}
        </small>
      </li>
      <li class="text-success list-inline-item">
        <small>{{'main.map-history-marker.end_cut' | translate}} {{reportsDay.length - reportsDayNotClosed.length}}</small>
      </li>
    </ul>
  </div>
</div>
