<div class="cuttoff">
    <div class="cuttoff__box">
        <h5 class="text-center">Faites un rapport</h5>
        <hr class="mb-4">
        <p>Quant est-ce que vous n'avez plus eu d'énergie électrique?</p>
        <form [formGroup]="reportForm" (ngSubmit)="onSubmitReport()">
            <div class="form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="date" ngbDatepicker #sd="ngbDatepicker" formControlName="reportedAt" [ngClass]="{ 'is-invalid': reportFormsubmitted && f.reportedAt.errors }">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary" (click)="sd.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                        </div>
                    </div>
                    <div *ngIf="reportFormsubmitted && f.reportedAt.errors" class="invalid-feedback">
                        <div *ngIf="f.reportedAt.errors.required">une date est requise</div>
                    </div>
                </div>
                <div class="form-group">
                    <ngb-timepicker [spinners]="true" [size]="'small'" formControlName="reportedHour" [ngClass]="{ 'is-invalid': reportFormsubmitted && f.reportedHour.errors }"></ngb-timepicker>
                    <div *ngIf="reportFormsubmitted && f.reportedHour.errors" class="invalid-feedback">
                        <div *ngIf="f.reportedHour.errors.required">une heure est requise</div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-small btn-primary" type="submit">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <div class="cuttoff">
  <div class="cuttoff__box">
      <h5 class="text-center">Informations additionelles</h5>
      <hr class="mb-4">
      <form [formGroup]="reportForm" (ngSubmit)="onSubmit()">
          <div class="form">
              <div class="form-group">
                  <div class="input-group">
                      <input type="text" class="form-control" formControlName="restoredAt" placeholder="restoredAt" ngbDatepicker #ed="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && f.restoredAt.errors }">
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="ed.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                      </div>
                  </div>
                  <div *ngIf="submitted && f.restoredAt.errors" class="invalid-feedback">
                      <div *ngIf="f.restoredAt.errors.required">erreur</div>
                  </div>
              </div>
              <div class="form-group">
                  <ngb-timepicker *ngIf="restoredAt" formControlName="restoredHour" [ngClass]="{ 'is-invalid': submitted && f.restoredHour.errors }"></ngb-timepicker>
                  <div *ngIf="submitted && f.restoredHour.errors" class="invalid-feedback">
                      <div *ngIf="f.restoredHour.errors.required">erreur</div>
                  </div>
              </div>
              <div class="text-center">
                  <button class="btn btn-primary" type="submit">Enregistrer</button>
              </div>
          </div>
      </form>
  </div>
</div> -->