<div class="container-spinner" *ngIf="formLoader">
    <div class="spinner-grow text-primary container-spinner__loader" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="cuttoff" *ngIf="!lastReport">
    <div class="cuttoff__box">
        <h5 class="text-center">Faites un rapport</h5>
        <hr class="mb-4">
        <p>Quant est-ce que vous n'avez plus eu d'énergie électrique?</p>
        <form [formGroup]="reportForm" (ngSubmit)="onSubmitReport()">
            <div class="form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Date de debut" ngbDatepicker #sd="ngbDatepicker" formControlName="reportedAt" [ngClass]="{ 'is-invalid': reportFormSubmitted && fReport.reportedAt.errors }">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary" (click)="sd.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                        </div>
                    </div>
                    <div *ngIf="reportFormSubmitted && fReport.reportedAt.errors" class="invalid-feedback">
                        <div *ngIf="fReport.reportedAt.errors.required">une date est requise</div>
                    </div>
                </div>
                <div class="form-group">
                    <ngb-timepicker [spinners]="true" [size]="'small'" formControlName="reportedHour" [ngClass]="{ 'is-invalid': reportFormSubmitted && fReport.reportedHour.errors }"></ngb-timepicker>
                    <div *ngIf="reportFormSubmitted && fReport.reportedHour.errors" class="invalid-feedback">
                        <div *ngIf="fReport.reportedHour.errors.required">une heure est requise</div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-small btn-primary" type="submit">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="cuttoff" *ngIf="lastReport">
    <div class="cuttoff__box">
        <h5 class="text-center">Rapport de fin</h5>
        <hr class="mb-4">
        <p>Rapport emis le: {{lastReport?.reportedAt | date: 'medium'}}</p>
        <p>Quant est-ce que vous n'avez plus eu d'énergie électrique?</p>
        <form [formGroup]="recovredForm" (ngSubmit)="onSubmitRecovred()">
            <input type="hidden" [ngModel]="lastReport?.id" formControlName="reportId">
            <div class="form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" formControlName="recovredAt" placeholder="Date de fin" ngbDatepicker #ed="ngbDatepicker" [ngClass]="{ 'is-invalid': recovredFormSubmitted && fRecovred.recovredAt.errors }">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-sm " (click)="ed.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                        </div>
                    </div>
                    <div *ngIf="recovredFormSubmitted && fRecovred.recovredAt.errors" class="invalid-feedback">
                        <div *ngIf="fRecovred.recovredAt.errors.required">erreur</div>
                    </div>
                </div>
                <div class="form-group">
                    <ngb-timepicker [size]="'small'" formControlName="recovredHour" [ngClass]="{ 'is-invalid': recovredFormSubmitted && fRecovred.recovredHour.errors }"></ngb-timepicker>
                    <div *ngIf="recovredFormSubmitted && fRecovred.recovredHour.errors" class="invalid-feedback">
                        <div *ngIf="fRecovred.recovredHour.errors.required">erreur</div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>