<div class="messaging">
  <div class="messaging__header">
    <h4 class="messaging__header__title">{{'modal.messaging.title' | translate}}</h4>
  </div>
  <div class="messaging__body">
    <div class="messaging__body__text">
      <h5 class="mb-3">{{'modal.messaging.body_title' | translate}}</h5>
      <p>{{'modal.messaging.body' | translate}}</p>
    </div>
  </div>
  <div class="d-flex justify-content-end messaging__footer">
    <button type="button" class="btn btn-outline-dark mr-2" (click)="close('Close click')">
      {{'modal.messaging.btn_close' | translate}}
    </button>
    <button type="button" class="btn btn-warning" (click)="activeNotification()">
      {{'modal.messaging.btn_active' | translate}}
    </button>
  </div>
</div>
