<div class="messaging">
  <div class="messaging__header">
    <h4 class="messaging__header__title">Activer les notifications de votre navigateur</h4>
  </div>
  <div class="messaging__body">
    <div class="messaging__body__text">
      <h5 class="mb-3">Pourquoi activer les notifications?</h5>
      <p>En activant vos notifications, nous pourrons ainsi vous prévenir en cas de coupure dans votre zone.</p>
    </div>
  </div>
  <div class="d-flex justify-content-end messaging__footer">
    <button type="button" class="btn btn-outline-dark mr-2" (click)="close('Close click')">Close</button>
    <button type="button" class="btn btn-warning" (click)="activeNotification()">Activer</button>
  </div>
</div>
