.messaging {
  padding-bottom: 10px;
  background: url("../../../assets/static/images/home/notification.svg") no-repeat bottom left;
  background-size: 40%;
  background-position: 0 105%;

  &__header {
    background-color: var(--warning);
    margin-bottom: 30px;
    padding: 20px;
  }

  &__body, &__footer {
    padding: 10px;
  }
}
