<div class="main-admin">
  <h1 class="pt-4 text-center">{{'shared.admin-nav.dashboard' | translate}}</h1>
  <hr>
  <div class="container-fluid">
    <!--    card stats-->
    <div class="row d-flex justify-content-center mt-5">
      <app-card class="col-xs-3 col-md-3" [card]="cardReportsAll"></app-card>
      <app-card class="col-xs-3 col-md-3" [card]="card2ReportsCurrentYear"></app-card>
      <app-card class="col-xs-3 col-md-3" [card]="cardReportsCurrentMonth"></app-card>
    </div>
    <!--    data table -->
    <div class="row mt-5">
      <div class="col-xs-12 col-md-6">
        <app-chart-week
          *ngIf="reportsCurrentYear"
          [reportsCurrentYear]="reportsCurrentYear"
        ></app-chart-week>
      </div>
      <div class="col-xs-12 col-md-6">
        <app-report-datatable></app-report-datatable>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <app-chart
              *ngIf="reportsCurrentYear"
              [reportsCurrentYear]="reportsCurrentYear"
            ></app-chart>
      </div>
    </div>
  </div>
</div>
