<div class="main-admin">
  <h1 class="pt-4 text-center">{{'shared.admin-nav.dashboard' | translate}}</h1>
  <hr>
  <div class="container-fluid">
    <!--    card stats-->
    <div class="row">
      <app-card class="col-xl-3 col-md-6 mb-4" *ngFor="let card of cards" [card]="card"></app-card>
    </div>

    <!--    data table -->
    <div class="row">
        <app-chart-daily-report
          class="col-md-6"
          *ngIf="reportsCurrentMonth"
          [reportsCurrentMonth]="reportsCurrentMonth"
        ></app-chart-daily-report>
        <app-report-datatable class="col-md-6" [reports]="reportsCurrentMonth"></app-report-datatable>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <app-chart
              *ngIf="reportsCurrentYear"
              [reportsCurrentYear]="reportsCurrentYear"
            ></app-chart>
      </div>
    </div>
  </div>
</div>
