<div class="container">
  <div class="py-2 report">
    <div class="mb-3">
      <div>
        <h6 class="report__title1">{{'main.map-history-marker.report_for' | translate}} {{now.getFullYear()}}</h6>
        <div class="report__number">{{nbreReportsYear}}</div>
      </div>
    </div>
    <hr>

    <div class="mb-3" *ngIf="nbreReportsDay > 0">
      <h6 class="report__title">{{'main.map-history-marker.report_of' | translate}} {{monthsName[now.getMonth()]}}</h6>
      <div>
        <div class="report__title1">{{'main.map-history-marker.total' | translate}}</div>
        <div class="report__number">{{nbreReportsMonthly}}</div>
      </div>
      <div>
        <div class="report__title1">{{'main.map-history-marker.current_report' | translate}}</div>
        <div class="text-danger report__number">{{nbreReportsNotClosed}}</div>
      </div>
      <div>
        <div class="report__title1">{{'main.map-history-marker.end_report' | translate}}</div>
        <div class="text-success report__number">{{nbreReportsMonthly - nbreReportsNotClosed}}</div>
      </div>
    </div>
    <hr>

    <div *ngIf="nbreReportsDay > 0">
      <h6 class="report__title">{{'main.map-history-marker.report_today' | translate}}</h6>
      <div>
        <div class="report__title1">Total</div>
        <div class="report__number">{{nbreReportsDay}}</div>
      </div>
      <div>
        <div class="report__title1">{{'main.map-history-marker.current_report' | translate}}</div>
        <div class="text-danger report__number">{{nbreReportsDayNotClosed}}</div>
      </div>
      <div>
        <div class="report__title1">{{'main.map-history-marker.end_report' | translate}}</div>
        <div class="text-success report__number">{{nbreReportsDay - nbreReportsDayNotClosed}}</div>
      </div>
    </div>
  </div>
</div>
