<div class="reports">
  <div class="list-group reports__history">
    <a class="list-group-item list-group-item-action reports__history__item"
       (click)="moveToMarker(report, index)" *ngFor="let report of reports; let index = index"
       [class.report__nav__item__content__elt-close]="isClosed(report)"
       [id]="'report-item-' + index"
    >
      <div class="row reports__history__item__header">
        <div class="col-md-9">
          <h5 class="reports__history__item__header__title">
            {{report.location.city}}
            <fa-icon [icon]="faAngleRight"></fa-icon>
            {{report.location.neighborhood}}
          </h5>
        </div>
        <div class="col-md-3 d-flex justify-content-end">
          <div class="p-1">
            <fa-icon [icon]="faCircle" [class.text-success]="isClosed(report)"
                     [class.text-danger]="!isClosed(report)"></fa-icon>
          </div>
          <div class="p-1">
            <fa-icon *ngIf="isOwner(report)"
                     [icon]="faUser"
                     [title]="'main.map-history-marker.icon_user_title' | translate"></fa-icon>
          </div>
        </div>
      </div>
      <div class="reports__history__item__footer">
        <ul class="list-unstyled">
          <li>{{'main.map-history-marker.last_modif' | translate}} {{report._updatedAt.toDate() | timestamp}}</li>
          <li>{{ reportDurationToString(report) }}</li>
        </ul>
      </div>
    </a>
  </div>
</div>
