<div class="filter" *ngIf="moduleEnable">
  <div class="filter__segments" role="group">
    <button type="button" class="filter__segments__segment"
            [class.filter__segments__segment--active]="service === null"
            (click)="setService(null)">
      {{'main.map-filter.service_all' | translate}}
    </button>
    <button type="button" class="filter__segments__segment filter__segments__segment--electricity"
            [class.filter__segments__segment--active]="service === serviceType.ELECTRICITY"
            (click)="setService(serviceType.ELECTRICITY)">
      {{'main.map-filter.service_electricity' | translate}}
    </button>
    <button type="button" class="filter__segments__segment filter__segments__segment--water"
            [class.filter__segments__segment--active]="service === serviceType.WATER"
            (click)="setService(serviceType.WATER)">
      {{'main.map-filter.service_water' | translate}}
    </button>
  </div>
  <div class="filter__statuses">
    <button type="button" class="filter__statuses__chip"
            [class.filter__statuses__chip--active]="isStatusActive(reportStatus.ONGOING)"
            (click)="toggleStatus(reportStatus.ONGOING)">
      {{'main.map-filter.status_ongoing' | translate}}
    </button>
    <button type="button" class="filter__statuses__chip filter__statuses__chip--resolved"
            [class.filter__statuses__chip--active]="isStatusActive(reportStatus.RESOLVED)"
            (click)="toggleStatus(reportStatus.RESOLVED)">
      {{'main.map-filter.status_resolved' | translate}}
    </button>
  </div>
</div>
