<div class="filter" *ngIf="moduleEnable">
  <div class="filter__title"><fa-icon [icon]="faFilter"></fa-icon> {{'main.map-filter.title' | translate}}</div>
  <div class="filter__chips">
    <button type="button" class="filter__chips__chip filter__chips__chip--electricity"
            [class.filter__chips__chip--active]="isClicked('electricity') >= 0"
            (click)="mapFilter('electricity')">
      {{'main.map-filter.electricity' | translate}}
    </button>
    <button type="button" class="filter__chips__chip filter__chips__chip--water"
            [class.filter__chips__chip--active]="isClicked('water') >= 0"
            (click)="mapFilter('water')">
      {{'main.map-filter.water' | translate}}
    </button>
    <button type="button" class="filter__chips__chip filter__chips__chip--resolved"
            [class.filter__chips__chip--active]="isClicked('resolved') >= 0"
            (click)="mapFilter('resolved')">
      {{'main.map-filter.resolved' | translate}}
    </button>
  </div>
</div>
