<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id" *ngIf="user" value="{{user?.id}}">
    <div class="form-group" *ngIf="user">
      <input type="text" class="form-control" placeholder="{{'user.register-form.firstname' | translate}}"
             formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" maxlength="20">
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.maxlength">{{'user.register-form.error_firstname_maxlenght' | translate}}</div>
      </div>
    </div>

    <div class="form-group" *ngIf="user">
      <input type="text" class="form-control" placeholder="{{'user.register-form.lastname' | translate}}"
             formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" maxlength="20">
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.maxlength">{{'user.register-form.error_firstname_maxlenght' | translate}}</div>
      </div>
    </div>

    <div class="form-group" *ngIf="user">
      <div class="form-check">
        <input class="form-check-input" type="radio" id="male" value="g1" formControlName="gender">
        <label class="form-check-label" for="male">
          {{'user.register-form.man' | translate}}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="female" value="g0" formControlName="gender">
        <label class="form-check-label" for="female">
          {{'user.register-form.woman' | translate}}
        </label>
      </div>
    </div>

    <div class="form-group" *ngIf="user">
      <input type="text" class="form-control" placeholder="{{'user.register-form.phone_number' | translate}}"
             formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
    </div>

<!--    TODO: add birthday field -->

    <div class="form-group">
      <input type="email" class="form-control" placeholder="{{'user.register.mail' | translate}}" formControlName="email"
             [ngClass]="{ 'is-invalid': submitted && f.email.errors }" *ngIf="!user">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.email">{{'user.register.mail_error_match' | translate}}</div>
        <div *ngIf="f.email.errors.required">{{'user.register.mail_error_required' | translate}}</div>
      </div>
    </div>

    <div class="form-group" *ngIf="!user">
      <input type="password" class="form-control" placeholder="{{'user.register-form.password' | translate}}"
             formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">{{'user.register.password_error_required' | translate}}</div>
        <div *ngIf="f.password.errors.pattern">
          <ul>
            <li>{{'user.register-form.password_error_message1' | translate}}</li>
            <li>{{'user.register-form.password_error_message2' | translate}}</li>
            <li>{{'user.register-form.password_error_message3' | translate}}</li>
            <li>{{'user.register-form.password_error_message4' | translate}}</li>
            <li>{{'user.register-form.password_error_message5' | translate}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="!user">
      <input type="password" class="form-control" placeholder="{{'user.register-form.confirm_password' | translate}}"
             formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">{{'user.register-form.password_error_required' | translate}}</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">{{'user.register-form.password_error_match' | translate}}</div>
      </div>
    </div>

    <div class="form-group form-check" *ngIf="!user">
      <input type="checkbox" class="form-check-input" id="cgu" value="1" formControlName="accept">
      <label class="form-check-label" for="cgu">{{'user.register-form.cgu' | translate}}</label>
      <div *ngIf="cguError" class="text-danger">
        <div>{{'user.register-form.cgu_error' | translate}}</div>
      </div>
    </div>

    <div class="input-group-append">
      <button class="btn btn-secondary" type="submit">
        {{'user.register-form.btn_submit' | translate}}
      </button>
    </div>

    <div *ngIf="successed && !user" class="alert alert-success">
      {{'user.register-form.success_message' | translate}}
    </div>
  </form>
</div>
