.register {
  background: url("../../../../assets/static/images/background/bg_icons.jpg");

  &__bloc {
    background-color: var(--white);
    width: 25%;
    border: 2px solid #eaeaea;
    padding: 10px;
  }
}

@media (max-width: 575px) {
  .register {
    &__logo {
      display: none;
    }
    &__bloc {
      width: 50%;
    }
  }
}
