.signin {
  background: url("../../../../assets/static/images/background/bg_icons.jpg");

  &__bloc {
    width: 25%;
    background-color: var(--white);
    border: 2px solid #eaeaea;
    padding: 10px;
  }
}

@media (max-width: 575px) {
  .signin {
    &__bloc {
      width: 50%;
    }
  }
}
