.danger {
  background-color: var(--danger);
  color: var(--light);
}

.warning {
  background-color: var(--warning);
  color: var(--dark);
}

.info {
  background-color: var(--info);
  color: var(--light);
}

.global-message {
  position: absolute;
  z-index: 1030;
  top: 0;
}
