.danger {
  background-color: var(--danger);
}

.warning {
  background-color: var(--warning);
}

.info {
  background-color: var(--info);
}

#global-message {
  color: var(--light);
  position: absolute;
  z-index: 2000;
  top: 0;
}
