.home {
  background-color: var(--white);

  &__section-header {
    background: center/contain no-repeat url("../../../../assets/static/images/home/background_home_section_1.jpg");
    background-size: cover;

    &__body {
      position: relative;
      display: block;
      box-sizing: border-box;

      &__logo {
        background-color: rgba(0, 0, 0, 0.5);
        color: var(--white);
      }
    }
  }

  &__section-about {
    padding-top: 3%;
  }

  &__section-contactus {
    background: right center no-repeat url("../../../../assets/static/images/home/bg2.svg");
  }

  &__section-whatwedo, &__section-team, &__section-contactus {
    padding-top: 3%;
  }
}

.section_1 {
  height: 1000px;
}

.box-shadow {
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
}

#modal-video {
  background: center/contain no-repeat url("../../../../assets/static/images/loading.svg");
}

@media (max-width: 575px){
  .section_1 {
    height: 500px;
  }

  .font-size-title {
    font-size: 2em;
  }
}
