.home {
  background-color: var(--white);

  &__section-header {
    &__body {
      height: 100vh;
      background: center/contain no-repeat url("../../../../assets/static/images/background_home_section_1.jpg");
      background-size: 100%;

      &__logo {
        width: 100%;
        height: 100%;
        color: var(--white);
      }
    }
  }
}
