<div class="home">
  <section class="position-relative home__section-header">
    <div class="home__section-header__body">
      <div class="d-flex align-items-center justify-content-center home__section-header__body__logo section_1">
        <div class="text-center">
          <img src="../../../../assets/static/images/logo.png" alt="lightcutoff logo" class="mb-3">
          <h1 class="mb-3 display-1 font-size-title">LIGHTCUTOFF</h1>
          <button class="mb-3 btn btn-success" (click)="openModal(content)">
            <fa-icon [icon]="faPlay"></fa-icon>
            {{'core.btn_show_video' | translate}}
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="home__section-about">
    <div class="pt-5 home__section-about__body w-100 h-100">
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="w-50">
          <h2 class="mb-5 text-center">{{'core.about.title' | translate}}</h2>
          <div>
            <p class="text-justify">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
              into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
              release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
              software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home__section-footer"></section>
</div>

<ng-template #content let-modal>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
            allowfullscreen></iframe>
  </div>
</ng-template>
