.home {
  background-color: var(--white);

  &__section-header {
    background: center/contain no-repeat url("../../../../assets/static/images/background_home_section_1.jpg");
    background-size: cover;

    &__body {
      position: relative;
      display: block;
      box-sizing: border-box;

      &__logo {
        background-color: rgba(0, 0, 0, 0.5);
        color: var(--white);
      }
    }
  }

  &__section-about {
    min-height: 50vh;
  }
}

.section_1 {
  height: 900px;
}

@media (max-width: 575px){
  .section_1 {
    height: 500px;
  }

  .font-size-title {
    font-size: 2em;
  }
}
