<nav class="admin-nav">
  <div class="sidebar-sticky d-flex flex-column">
    <ul class="nav flex-column flex-grow-1">
      <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
        <span>{{'shared.admin-nav.menu' | translate}}</span>
      </h6>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/reports" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <fa-icon [icon]="faFileLines"></fa-icon> {{'shared.admin-nav.reports' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/stats" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <fa-icon [icon]="faChartColumn"></fa-icon> {{'shared.admin-nav.stats' | translate}}
        </a>
      </li>
    </ul>
    <button type="button" class="btn btn-link nav-link text-start px-3 mb-3 admin-nav__logout" (click)="logout()">
      <fa-icon [icon]="faRightFromBracket"></fa-icon> {{'shared.admin-nav.logout' | translate}}
    </button>
  </div>
</nav>
