<div class="legend" *ngIf="showlegend">
  <a class="close" role="button" aria-label="Close" (click)="toggleShowLegend()">
    <span aria-hidden="true">&times;</span>
  </a>
  <div class="legend__bloc">
    <ul class="list-unstyled legend__bloc__ul">
      <li class="legend__bloc__ul__title">
        <h5 class="list-group-item-heading">{{"shared.map-legend.title" | translate}}</h5>
      </li>
      <li *ngFor="let legend of legends" class="mb-2 legend__bloc__ul__li">
        <img [src]="legend.icon" [attr.alt]="legend.name" class="legend__bloc__ul__li__icon">{{legend.name}}
      </li>
    </ul>
  </div>
</div>
<div class="btn-group" *ngIf="!showlegend">
  <button class="btn btn-sm btn-light" (click)="toggleShowLegend()">{{"shared.map-legend.title" | translate}}</button>
</div>
