.download{
  background-color: var(--warning);

  &__title{
    h4{
      font-weight: bolder;
    }
  }
}

.thanks{
  background: url("../../../assets/static/images/background/bg_icons.jpg") top center;
}

.thanks, .download {
  position: fixed;
  padding: 1em;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 480px) and (orientation: portrait){
  .download, .thanks {
    bottom: 0;
  }
}
