.download{
  position: fixed;
  background-color: var(--warning);
  padding: 1em;
  text-align: center;
  width: 100%;

  &__title{
    h4{
      font-weight: bolder;
    }
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait){
  .download {
    bottom: 0;
  }
}
