<div class="download" *ngIf="isDownload">
  <div class="download__title">
    <a class="close" role="button" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </a>
    <h4>{{'shared.download-app.title' | translate}}</h4>
  </div>
  <div class="download__body">
    <p>
      {{'shared.download-app.body' | translate: {lightcutoff: appTitle} }}
    </p>
  </div>
  <div class="d-flex justify-content-center download__footer">
    <button type="button" class="btn btn-light" (click)="download()">
      {{'shared.download-app.button_download' | translate}}
    </button>
    &nbsp;
    <button type="button" class="btn btn-secondary" (click)="close()">
      {{'shared.download-app.button_close' | translate}}
    </button>
  </div>
</div>
<div class="thanks" *ngIf="isThanks">
  <div class="thanks__header">
    <a class="close" role="button" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </a>
    <h3>Merci</h3>
  </div>
  <div class="thanks__body">
    <h4 class="thanks__body__title">Voulez-vous savoir comment utiliser {{appTitle}}?</h4>
    <div class="thanks__body__content">
      <ul>
        <li><a class="btn btn-light" routerLink="/tuto">Suivez ce tutoriel</a></li>
      </ul>
    </div>
  </div>
</div>
