<div class="main-admin">
  <div class="container">
    <div class="mb-5">
      <h1 class="text-center">{{'core.faq.title' | translate}}</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="accordion m-auto" id="faqAccordion">
          <div class="card" *ngFor="let item of faqItems; first as isFirst">
            <div class="card-header" [id]="'faqHeading' + item">
              <h2 class="mb-0">
                <button class="btn btn-link w-100 text-start" [class.collapsed]="!isFirst" type="button"
                        data-bs-toggle="collapse" [attr.data-bs-target]="'#faqCollapse' + item"
                        [attr.aria-expanded]="isFirst" [attr.aria-controls]="'faqCollapse' + item">
                  {{'core.faq.q' + item | translate}}
                </button>
              </h2>
            </div>
            <div [id]="'faqCollapse' + item" class="collapse" [class.show]="isFirst"
                 [attr.aria-labelledby]="'faqHeading' + item" data-bs-parent="#faqAccordion">
              <div class="card-body" [innerHTML]="'core.faq.a' + item | translate">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
