<div class="aboutus pb-lg-5">
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">{{'general.aboutus.title_page' | translate}}</h1>
          <p class="lead">{{'general.aboutus.slogan' | translate}} <strong>{{projectTitle}}</strong>.</p>
        </div>
      </div>

      <div class="row text-justify aboutus__content">
        <h3 class="display-4">{{'general.aboutus.title_history' | translate}}</h3>
        <p class="lead" [innerHTML] = "'general.aboutus.text_history_1' | translate: {projectTitle: projectTitle}">
        </p>
        <p class="lead">
          {{'general.aboutus.text_history_2' | translate: {projectTitle: projectTitle} }}
        </p>

        <h3 class="display-4">{{'general.aboutus.title_objectif' | translate }}</h3>
        <p class="lead" [innerHTML] = "'general.aboutus.text_obj_1' | translate: {projectTitle: projectTitle}">
        </p>
        <p class="lead" [innerHTML] = "'general.aboutus.text_obj_2' | translate: {projectTitle: projectTitle}">
        </p>

        <p class="lead">
          {{'general.aboutus.text_obj_3' | translate}}
        </p>
      </div>
    </div>
</div>
