<div class="container aboutus mb-lg-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Qui sommes nous?</h1>
            <p class="lead">Voici tout à propos du projet <strong><u>{{projectTitle}}</u></strong>.</p>
        </div>
    </div>

    <div class="row text-justify">
        <h3 class="display-4">La petite histoire</h3>
        <p class="lead">
            l'histoire du projet <strong>{{projectTitle}}</strong> à débuté avec une des plus longue coupure d'électricité que j'ai connue. En effet, je suis rentré pour quelques jours dans mon pays qui est le Cameroun et plus précisément dans ma ville
            qui est Yaoundé. Une semaine après mon arrivée, j'ai vécu une expérience dont je n'avais pas été habitué ou alors plus du tout habitué.
        </p>
        <p class="lead">
            Effectivement, nous avons eu dans une grande partie de la ville jusqu'à d'autres villes, une coupure généralisée d'énergie électrique qui a duré 2 jours. Même si pour la ville de Yaoundé, du moins certaine partie de la ville, les coupures de lumière font
            parties du quotidien, il n'en demeure pas moins que cette fois là fût spéciale par ca durée.
        </p>

        <h3 class="display-4">Nos objectifs</h3>
        <p class="lead">
            Le projet <strong>{{projectTitle}}</strong> sur lequel je travaille vise à aider à faire un état des lieux de la situation au sujet des coupures d'énergie électrique dans l'ensemble du territoire national. Ceci à des fins de permettre à des
            tiers d'exploiter ces données dans des cadres particuliers comme la recherche.
        </p>
        <p class="lead">
            Un autre des objectifs visés par <strong>{{projectTitle}}</strong> est de données aux populations des informations sur les zones avec où sans lumière de leurs villes respectives.
        </p>

        <p class="lead">
            En conclusion, j'ai dans l'espoir que le projet sur lequel je travaille, pourra aider un grand nombre de personne dont l'activité est régie par l'absence ou non d'énergie électrique.
        </p>
    </div>
</div>
