<div class="main-admin signin">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="signin__bloc">
          <h4 class="text-center signin__title">
            {{'user.forgot-password.title' | translate}}
          </h4>
          <hr>
          <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="{{'user.forgot-password.mail' | translate}}"
                     formControlName="email">
            </div>

            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">{{'user.forgot-password.btn_submit' | translate}}</button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
