.menu {
  position: absolute;
  z-index: 1000;
  width: 400px;
  font-size: 0.85em;

  &__group1 {
    background-color: var(--white);
    &__footer {
      background-image: linear-gradient(white, rgba(255, 255, 255, 0.5));
    }
  }

  &__group2 {
    &__btn {
      cursor: pointer;
      background-color: var(--white);
      padding: 20px;
      display: inline-block;
    }
  }
}

@media (max-width: 575px){
  .menu {
    width: 300px;
  }
}


