<div class="filter" *ngIf="moduleEnable">
  <h2 class="filter__title text-center">{{'main.map-filter.title' | translate}}</h2>
  <div class="filter__form">
    <ul class="list-inline filter__form__btn">
      <li class="list-inline-item"
          [class.clicked]="isClicked(reportSatus.cut_owner) >= 0"
          (click)="mapFilter(reportSatus.cut_owner)">
        <img [src]="markerCutUser" alt="{{'main.map-filter.alt_marker_cut_owner' | translate}}">
      </li>
      <li class="list-inline-item"
          [class.clicked]="isClicked(reportSatus.cut) >= 0"
          (click)="mapFilter(reportSatus.cut)">
        <img [src]="markerCut" alt="{{'main.map-filter.alt_marker_cut' | translate}}">
      </li>
      <li class="list-inline-item"
          [class.clicked]="isClicked(reportSatus.recovred) >= 0"
          (click)="mapFilter(reportSatus.recovred)">
        <img [src]="markerRecovred" alt="{{'main.map-filter.alt_marker_cut_closed' | translate}}">
      </li>
    </ul>
  </div>
</div>
