<div class="filter">
  <h2 class="filter__title">Filter les marqueurs</h2>
  <div class="filter__form">
    <ul class="list-unstyled filter__form__btn">
      <li><a>
        <img [src]="markerCutUser" alt="">
      </a></li>
      <li><a>
        <img [src]="markerCut" alt="">
      </a></li>
      <li><a>
        <img [src]="markerRecovred" alt="">
      </a></li>
    </ul>
  </div>
</div>
<div class="mb-1 btn">
  <button class="btn btn-lg btn-light">
    <fa-icon [icon]="faFilter" [size]="'sm'"></fa-icon>
  </button>
</div>
