<div class="marker-details" *ngIf="data">
    <div class="marker-details__header">

        <h6>Rapport</h6>
    </div>
    <div class="marker-details__body">
        <ul class="list-unstyled">
            <li><b>Signalez le:</b> {{ data.reportedAt?.seconds | timestamp }}</li>
            <li *ngIf="data.recovredAt"><b>Remis le:</b> {{ data.recovredAt?.seconds | timestamp }}</li>
        </ul>
    </div>
    <div class="marker-details__footer">
        <small>lng: {{ data?.position.lng }}</small>&nbsp;&nbsp;
        <small>lat: {{ data?.position.lat }}</small>
    </div>
</div>