<div>
  <app-search-place-form *ngIf="!isError" (searchPlaceSubmit)="onSearchPlace($event)"></app-search-place-form>

  <div class="d-flex justify-content-center mt-5" *ngIf="isError">
    <div class="mt-5">
      <div class="mt-5 alert alert-danger text-danger" role="alert">
        {{"main.map-view.map_no_load" | translate}}
      </div>
    </div>
  </div>

  <div class="map-container">
      <div #mapContainer id="map" class="map-container__map">
          <app-loading [show]="isLoader"></app-loading>
          <app-map-legend [class.d-none]="!isFormLightCutOf"></app-map-legend>
          <app-loading [show]="formLoader"></app-loading>
          <app-create-form-report (reportSubmit)="onCreateReport($event)"
                                  [class.d-none]="!isFormLightCutOf"></app-create-form-report>
          <ng-template #recovredFormReport></ng-template>
          <ng-template #infosReport></ng-template>
          <div [class.d-none]="!isFormLightCutOf" class="map-container__btn" #btnAddReport>
              <button [ngbTooltip]="tooltipContent" tooltipClass="tooltip-content"
                      class="btn btn-success btn-lg map-container__btn__add" #tleft="ngbTooltip"
                      (click)="openInfoWindowCreateReport()"
                      attr.aria-label="{{'main.map-view.btn_add_report' | translate}}">
                <i class="fas fa-plus"></i>
              </button>
          </div>
      </div>
  </div>

  <ng-template #tooltipContent>
      <div>
          {{"main.map-view.signal_no_energy" | translate}}
      </div>
  </ng-template>
</div>
