<div class="map-container">
  <app-map-not-found *ngIf="isErrorMapActive"></app-map-not-found>

  <div class="map-container">
    <app-map-menu [reports]="visibleReports" (goToMarkerEnd)="goToMarker($event)" (researchPlace)="onSearchPlace($event)"
                  [class.d-none]="!isMapReady" (filterMarker)="mapFiltered($event);"></app-map-menu>
    <div #mapContainer id="map" class="map-container__map">
<!--loading init map page-->
      <app-loading [show]="isLoader"></app-loading>

      <app-map-legend [class.d-none]="!isMapReady"></app-map-legend>

      <ng-template #infosReport></ng-template>
    </div>
  </div>
</div>
