<div class="reports">
  <div class="list-group reports__history">
    <a class="list-group-item list-group-item-action reports__history__item"
       (click)="moveToMarker(report, index)" *ngFor="let report of reports; let index = index"
       [class.reports__history__item--water]="!isClosed(report) && serviceType(report) === 'water'"
       [class.reports__history__item--electricity]="!isClosed(report) && serviceType(report) !== 'water'"
       [class.reports__history__item-close]="isClosed(report)"
       [id]="'report-item-' + index"
    >
      <div class="d-flex justify-content-between align-items-start">
        <h5 class="reports__history__item__title">
          <span class="reports__history__item__title__service">{{serviceType(report) === 'water' ? '💧' : '⚡'}}</span>
          {{report?.location?.city}}
          <fa-icon [icon]="faAngleRight"></fa-icon>
          {{report?.location?.neighborhood}}
        </h5>
        <span class="reports__history__item__status"
              [class.reports__history__item__status--resolved]="isClosed(report)"
              [class.reports__history__item__status--water]="!isClosed(report) && serviceType(report) === 'water'"
              [class.reports__history__item__status--electricity]="!isClosed(report) && serviceType(report) !== 'water'">
          {{ (isClosed(report) ? 'main.map-history-marker.status_resolved' : 'main.map-history-marker.status_ongoing') | translate }}
        </span>
      </div>
      <div class="reports__history__item__duration">{{ reportDurationToString(report) }}</div>
      <div class="reports__history__item__meta">
        {{'main.map-history-marker.last_modif' | translate}} {{report?.updatedAt?.toDate() | timestamp}}
      </div>
    </a>
  </div>
</div>
