.cuttoff {
    width: 250px;
    background-color: white;
    position: absolute;
    bottom: 60%;
    left: 80%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 7px 9px 25px;
    h5 {
        padding-bottom: 20px;
        padding-top: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid black;
    }
}