
<footer class="footer">
  <div class="d-flex justify-content-between">
    <div class="footer__line">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tuto" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            {{ 'shared.main-footer.tutorial' | translate}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            {{ 'shared.main-footer.about' | translate}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faq" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            FAQ
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contactus" >
              {{ 'shared.main-footer.contactus' | translate}}
            </a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="list-inline">
        <li class="p-1 list-inline-item">
          <a target="_blank" href="https://www.facebook.com/lightcutoff.lco"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="p-1 list-inline-item">
          <a target="_blank" href="https://twitter.com/LightCutOff1"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="p-1 list-inline-item">
          <a  target="_blank" href="https://www.instagram.com/lightcutoff/"><i class="fab fa-instagram"></i></a>
        </li>
<!--        <li class="p-1 list-inline-item">-->
<!--          <a><i class="fab fa-pinterest"></i></a>-->
<!--        </li>-->
      </ul>
    </div>

    <div class="pt-2 footer__lang">
      <div class="d-flex footer__lang__media" *ngIf="currentLang === 'en'">
        <img src="./../../../assets/static/icons/france.png" alt="flag_french" class="footer__lang__media__img">
        <div class="flex-grow-1 footer__lang__media__body">
          <a (click)="toggleLang()" class="ps-1 footer__lang__media__body__link">Français</a>
        </div>
      </div>
      <div class="d-flex footer__lang__media" *ngIf="currentLang === 'fr'">
        <img src="./../../../assets/static/icons/england.png" alt="flag_england" class="footer__lang__media__img">
        <div class="flex-grow-1 footer__lang__media__body">
          <a (click)="toggleLang()" class="ps-1 footer__lang__media__body__link">English</a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
      <small>Copyright © {{ now.getFullYear() }} {{ appTitle }} · Bogal Consulting. All Rights Reserved.</small>
    <a routerLink="/admin/dashboard" style="color: black">
      .
    </a>
  </div>
</footer>

