<footer class="footer">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start footer__line">
            <ul class="nav footer__line__menu">
                <li class="nav-item">
                    <a class="nav-link footer__line__menu__link" (click)="open(content)">Contactez-nous</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer__line__menu__link" href="/aboutus">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer__line__menu__link" href="/tuto">Tutoriel</a>

                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-end">
            <ul class="nav">
                <li *ngIf="!isFr" class="nav-item"><a (click)="toggleLang()" class="nav-link" href="#">Fr</a></li>
                <li *ngIf="isFr" class="nav-item"><a (click)="toggleLang()" class="nav-link" href="#">En</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__line">
        <small>Copyright © 2020 by {{ appTitle }}</small>
    </div>
</footer>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="contactUsForm" (ngSubmit)="onSendMail()">
            <div class="form-group">
                <label for="email">* Email:</label>
                <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">un email est requis</div>
                </div>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="subject">* Sujet:</label>
                <input type="text" class="form-control" id="subject" formControlName="subject" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }">
                <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                    <div *ngIf="f.subject.errors.required">un sujet est requis</div>
                </div>
            </div>
            <div class="form-group">
                <label for="body">* Message:</label>
                <textarea type="text" class="form-control" id="body" formControlName="body" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.body.errors }"></textarea>
                <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
                    <div *ngIf="f.body.errors.required">un message est requis</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
        <button type="button" class="btn btn-outline-primary" (click)="onSendMail()" [disabled]="submitted">Envoyer</button>
    </div>
</ng-template>