.footer {
  background-color: var(--dark);
  color: var(--gray);
    &__line {
        text-align: center;
        &__menu {


        }
    }

  .nav-item a {
    color:  rgba(255,255,255,.5);
    cursor: pointer;
  }
  .nav-item a:hover {
    color: var(--white);
  }

  .lang-flag{ width: 20%; }
}
