/*****
Please use this file to style all basic item like link (a),
paragraph (p) or list (ul, ol)
*****/

html,
body {
  height: 100%;
  background-color: var(--dark);
}

app-container{
  display:flex;
  min-height:100vh;
  flex-direction:column;
  margin:0;
}

.main-admin{
  min-height: 85vh;
  background-color: var(--white);
}
